{% doc %}
  @description
  Displays query results with filters, and section rendering.

  @param {sort_option[]} [sort_options] - The sort options to display.
  @param {string} [sort_by] - The selected sort option.
  @param {string} [default_sort_by] - The default sort option.
  @param {filter[]} [filters] - The filters to display.
  @param {string} [results] - The query results to display.
  @param {number} [results_count]

  @example
  {% render 'results-list' %}
{% enddoc %}

{% liquid
  unless results
    continue
  endunless

  assign active_filter_count = 0

  if filters
    for filter in filters
      case filter.type
        when 'price_range'
          if filter.min_value.value or filter.max_value.value
            assign active_filter_count = active_filter_count | plus: 1
          endif

        else
          assign active_filter_count = active_filter_count | plus: filter.active_values.size
      endcase
    endfor
  endif

  # theme-check-disable UndefinedObject
  if section
    assign section_id = section.id
  endif
  # theme-check-enable UndefinedObject
%}

<script
  src="{{ 'results-list.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

<results-list
  {% if section_id %}
    section-id="{{ section_id }}"
  {% endif %}
  {% if default_sort_by %}
    default-sort-by="{{ default_sort_by }}"
  {% endif %}
>
  <div class="results-list__toolbar">
    {% unless filters.size == 0 %}
      <toggle-element-button action="toggle" toggle-id="filter-form">
        <button
          class="button button--small flex flex-gap-small results-list__filter-button"
          type="button"
          {% if section_id %}
            data-section="{{ section_id }}"
            data-section-element="filter-button"
          {% endif %}
        >
          {{ 'filter_sort.filter' | t }}

          {% unless active_filter_count == 0 %}
            <span class="bubble bubble--small bubble--button-inverse">{{ active_filter_count }}</span>
          {% endunless %}
        </button>
      </toggle-element-button>

      <toggle-element
        id="filter-form"
        class="dialog-window"
        preset="dialog"
      >
        <div class="drawer" data-ref="toggle-element.dialog">
          <div class="drawer__header">
            <p class="text-h5">{{ 'filter_sort.filter' | t }}</p>

            <button
              class="drawer__close button-reset"
              data-ref="toggle-element.close"
              title="{{ 'accessibility.close_drawer' | t }}"
            >
              {% render 'icon-misc', icon: 'cancel' %}
            </button>
          </div>

          <div
            class="drawer__body flex flex-col flex-gap-large"
            {% if section_id %}
              data-section="{{ section_id }}"
              data-section-element="filters"
            {% endif %}
          >
            {% unless sort_options == null or sort_options.size == 0 %}
              <form data-ref="results-list.sort">
                <label for="sort-by">{{ 'filter_sort.sort_by' | t }}</label>

                <select id="sort-by" name="sort_by">
                  {% for option in sort_options %}
                    {% liquid
                      assign selected = false

                      if sort_by == '' or sort_by == null
                        if option.value == default_sort_by
                          assign selected = true
                        endif

                      else
                        if option.value == sort_by
                          assign selected = true
                        endif
                      endif
                    %}

                    <option
                      value="{{ option.value }}"
                      {% if selected %}
                        selected
                      {% endif %}
                    >
                      {{ option.name }}
                    </option>
                  {% endfor %}
                </select>
              </form>
            {% endunless %}

            {% render 'filter-form',
              filters: filters,
              ref: 'results-list.filters',
              terms: search.terms,
              sort_by: sort_by,
              default_sort_by: default_sort_by
            %}
          </div>
        </div>
      </toggle-element>
    {% endunless %}

    <p
      class="text-right"
      {% if section_id %}
        data-section="{{ section_id }}"
        data-section-element="results-count"
      {% endif %}
    >
      {{ 'results_list.results_count' | t: count: results_count }}
    </p>
  </div>

  <div
    class="results-list__results width-full"
    {% if section_id %}
      data-section="{{ section_id }}" data-section-element="results"
    {% endif %}
  >
    {{ results }}
  </div>
</results-list>

{% stylesheet %}
  .results-list__toolbar {
    align-items: center;
    display: grid;
    gap: var(--spacing-16);
    grid-template-columns: 1fr 1fr;
    margin-block: var(--spacing-24);

    .results-list__filter-button {
      justify-self: start;
    }
  }

  .results-list__results {
    margin-block: var(--spacing-24);
  }

  @media (min-width: 1024px) {
    .results-list__toolbar {
      display: flex;
      gap: var(--spacing-24);
      margin-block: var(--spacing-32);
    }

    .results-list__results {
      margin-block: var(--spacing-32);
    }
  }
{% endstylesheet %}
