{% liquid
  assign logo_tag = 'p'

  assign logo_alt = section.settings.logo.alt | default: shop.name
  assign logo_width = section.settings.logo_width
  assign logo_width_2x = logo_width | times: 2

  if request.page_type == 'index'
    assign logo_tag = 'h1'
  endif
%}

<script
  src="{{ 'site-header.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

<site-header section-id="{{ section.id }}">
  {% content_for 'block', type: '_announcement-bar', id: 'announcement' %}

  <div class="site-header__top">
    <div class="site-header__container container">
      <div class="site-header__left until-medium">
        <toggle-element-button toggle-id="header-menu">
          <button
            class="site-header__menu-button until-medium button-reset"
            type="button"
            title="{{ 'navigation.open' | t }}"
          >
            {% render 'icon-misc', icon: 'menu' %}
          </button>
        </toggle-element-button>
      </div>

      <{{ logo_tag }} class="site-header__logo margin-left-auto margin-right-auto text-center text-h6">
        <a href="{{ routes.root_url }}">
          {% if section.settings.logo %}
            {{
              section.settings.logo
              | image_url: width: logo_width_2x
              | image_tag: alt: logo_alt, width: logo_width, srcset: null
            }}

          {% else %}
            {{ shop.name }}
          {% endif %}
        </a>
      </{{ logo_tag }}>

      <form action="{{ routes.search_url }}">
        <label for="{{ section.id }}-predictive-search">{{ 'search.title' | t }}</label>

        <input
          id="{{ section.id }}"
          name="q"
          type="search"
          placeholder="{{ 'search.query' | t }}"
          data-ref="site-header.predictive-search-input"
        >
      </form>

      <div data-section="{{ section.id }}" data-section-element="search-overlay">
        {% if predictive_search.performed %}
          {{ 'search.products_found' | t: count: predictive_search.resources.products.size }}
        {% endif %}
      </div>

      <ul class="site-header__misc flex justify-end margin-left-auto text-right list-reset">
        <li>
          <a href="{{ routes.search_url }}" title="{{ 'search.title' | t }}">
            {%- render 'icon-misc', icon: 'search' -%}
          </a>
        </li>

        {% if shop.customer_accounts_enabled %}
          {% liquid
            assign customer_url = routes.account_login_url
            assign customer_label = 'customer.login.title' | t

            if customer
              assign customer_url = routes.account_url
              assign customer_label = 'customer.title' | t
            endif
          %}

          <li>
            <a href="{{ customer_url }}" title="{{ customer_label }}">
              {% render 'icon-misc', icon: 'profile' %}
            </a>
          </li>
        {% endif %}

        <li>
          <toggle-element-button
            toggle-id="cart-drawer"
            {% if request.page_type == 'cart' %}
              disabled
            {% endif %}
          >
            <a class="header-cart-badge" href="{{ routes.cart_url }}" title="{{ 'cart.title' | t }}">
              {% render 'icon-misc', icon: 'bag' %}

              <span
                class="header-cart-badge__count bubble bubble--small bubble--button {% if cart.empty? %}visually-hidden{% endif %}"
                data-section="{{ section.id }}"
                data-section-element="cart-count"
              >
                {{ cart.item_count }}
              </span>
            </a>
          </toggle-element-button>
        </li>
      </ul>
    </div>
  </div>

  <div class="site-header__bottom">
    <div class="container">
      {% render 'header-menu', menu: section.settings.menu %}
    </div>
  </div>
</site-header>

{% stylesheet %}
  .site-header {
    --padding-block: var(--spacing-16);
    background-color: var(--color-background);
    border-block-end: 1px solid var(--color-border-lighter);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .site-header site-header {
    display: block;
  }

  .site-header__top {
    position: relative;
  }

  .site-header__container {
    align-items: center;
    display: grid;
    grid-template-columns: var(--outside-column-size, 0.5fr) var(--middle-column-size, 1fr) var(
        --outside-column-size,
        0.5fr
      );
  }

  .site-header__bottom {
    border-block-start: 1px solid var(--color-border-lighter);
  }

  .site-header__menu-button {
    .icon {
      --size: 18px;
    }
  }

  .site-header__logo {
    padding-block: var(--padding-block);
  }

  .site-header__misc {
    gap: var(--spacing-12);

    .icon {
      --size: 18px;
    }
  }

  .header-cart-badge {
    position: relative;
  }

  .header-cart-badge__count {
    position: absolute;
    right: calc(var(--spacing-8) * -1);
    top: calc(var(--spacing-8) * -1);
    z-index: 1;
  }

  @media (min-width: 768px) {
    .site-header {
      --padding-block: var(--spacing-24);
    }

    .site-header__container {
      --outside-column-size: 2.5fr;
      display: flex;
      gap: var(--spacing-32);
    }

    .site-header__misc {
      gap: var(--spacing-16);
      margin-inline-start: auto;
    }

    .site-header__logo {
      --padding-block: var(--spacing-16);
      margin-inline: 0;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "class": "site-header shopify-section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:presets.settings.menu.label",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
